@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
  margin: 0;
}

#app {
  padding: 56px 20px;
  min-height: 100vh;
  width: 100vw;
  background-color: hsl(218, 23%, 16%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Manrope', sans-serif;
}

.adviceCard {
  background-color: hsl(217, 19%, 24%);
  padding: 60px;
  width: 700px;
  max-width: calc(100% - 20px);
  border-radius: 20px;
  position: relative;
}

.adviceCard h2 {
  color: hsl(193, 38%, 86%);
  text-align: center;
}

.adviceCard p {
  color: hsl(150, 100%, 66%);
  text-align: center;
}

.adviceNumber {
  letter-spacing: 3px;
}

.centralalign {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nextBtn {
  position: absolute;
  background-color: hsl(150, 100%, 66%);
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: -28px;
}

.nextBtn:hover {
  box-shadow: 0 0 33px hsl(150, 100%, 66%);
}